
/*#warpper {
    height: 97vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;*/
    /*grid-template-rows: 1fr 33.3vw 0.5fr;*/
/*}*/
/*תפריטים*/
nav {
    /*    border-left: 3.5px solid white;
    border-right: 3.5px solid white;
    border-bottom: 3.5px solid white;
    outline: solid;
    outline-color: white;*/
    background-color: #507481;
    transition: 0.5s;
    position: fixed;
    height: 40vh;
    width: 25vh;
    /*overflow-y: hidden;*/
    right: 5vh;
    top: -40vh;
    /*z-index: 8;*/
}

/*    nav:hover {
        outline-color: black
    }*/

div[id^=open] {
    position: fixed;
    transition: 0.5s;
    height: 5vh;
    width: 5vh;
    /*    background-size: cover;
*/ /*z-index: 4;*/
    /*    background-image: url('image/איקון 2.JPG');
*/ right: 15vh;
    top: 0vh;
    /*outline-color: black;*/
    outline: solid;
    /*    border-left: 3.5px solid white;
    border-right: 3.5px solid white;
    border-bottom: 3.5px solid white;
    border-radius: 0px 0px 15px 15px*/
}


/*nav > a, nav > label {
    text-decoration: none;
    font-size: 2.5vh;
    font-family: Tahoma;
    display: block;
    color: black;
    margin-block-end: 3vh;
    margin-block-start: 3vh
}
*/
/*a:hover, label:hover {
    color: white
}*/
